.jumbotron {
  border: 2px solid #113f67;
  margin-top: 40px;
  background-color: rgb(171, 177, 211);
}

.card-body{
  border: 2px solid #113f67;
  margin: 20px;
  background-image: rgb(163, 159, 159);
}

button{
  margin: 20px;
  color: black;
}
.head{
  text-align: center;
  color: 946666;
  font-family: 'Satisfy', cursive;
  font-size: 100px;
}
.mantra {
  text-align: center;
  color: #FE3838;
  font-family: 'Satisfy', cursive;
  font-size: 30px;
}

h1,h2{
  font-family: 'Vidaloka', serif;
  font-size: 30px;
}

h3{
  font-family: 'Fredericka the Great', cursive;
}

#amazing{
  font-size:20px;
  color: aquamarine;
}

#wat{
  font-size:20px;
}

body{
  background-image: url("../src/assets/quote.jpeg");
}
 
.card-body,{
  text-align: center;
}

.row{
   text-align: center;
}